{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login · professional</title>

    <link rel="stylesheet" href="{% static 'seller/css/login.css' %}">
</head>
<body>

<div class="card">
    <h1>Reset Password</h1>

    {% if s_msg %}
    <div class="alert alert-success" rol="alert">
        {{ s_msg }}
    </div>
    {% endif %}

    <form method="post" action="{% url 'reset_password' %}">
        {% csrf_token %}

            <input type="hidden" name="email" placeholder="Enter your email"  value="{{email}}" required>
        

        <div class="field-group">
            <label>Otp</label>
            <input type="otp" name="otp" placeholder="Enter your otp" required>
        </div>

        <div class="field-group">
            <label>New password</label>
            <input type="password" name="newpassword" placeholder="Enter your new password" required>
        </div>

        <div class="field-group">
            <label>Re-type Password</label>
            <input type="password" name="repassword" placeholder="Enter your Repassword" required>
        </div>
        

        <input type="submit" class="action-btn" value="Change password →">
    </form>

    <div class="footer-sign">
        Don’t have an account? <a href="{% url 'register' %}">Register</a>
        
    </div>
</div>

</body>
</html>